<nav class="pagination" role="pagination">
  <% if (page.prev) { %>
      <a class="newer-posts" href="<%- url_for(page.prev_link) %>">
          ← Neuere Posts
      </a>
  <% } %>
  <span class="page-number">
      Seite <%- page.current %> von <%- page.total %>
  </span>
  <% if (page.next) { %>
      <a class="older-posts" href="<%- url_for(page.next_link) %>">
          Ältere Posts →
      </a>
  <% } %>
</nav>
